@model IEnumerable<FPTBook.Models.Book>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Details.cshtml";
}
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<div class="p-3 bg-light">
    <div class="container">
        <h2 class="text-center p-3" id="lists-section">List Of Books</h2>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service h-100">
                        <img class="w-100 p-4" src="~/uploads/@product.Image" width="100px" height="70%" alt="">
                        <h3 class="fw-bold p-2 m-0">@product.Name</h3>
                        <h3 class="p-2 mb-3 fw-light">@product.Price.ToString("C")</h3>
                        <div class="row">
                            <div class="col d-flex justify-content-center border p-2">
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@product.Id">Buy Book</a>
                            </div>
                            <div class="col d-flex justify-content-center border p-2">
                                <a asp-controller="Home" asp-action="Details" asp-route-id="@product.Id">More Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination d-flex justify-content-center p-3 m-0">
        @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {
            <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                <a class="page-link" href="@Url.Action("Show", new { page = i })">@i</a>
            </li>
        }
    </ul>
</nav>
